In [21]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.datasets import load_boston
boston = load_boston()

In [22]:
print(boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [23]:
bos = pd.DataFrame(boston.data,columns =boston.feature_names)
bos

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [24]:
bost=pd.DataFrame(boston.target)
bost

        0
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

In [25]:
bos.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [26]:
reg=linear_model.LinearRegression()

In [27]:
x_train,x_test,y_train,y_test=train_test_split(bos,bost,test_size=0.2,random_state=0)

In [28]:
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
print(reg.coef_)

[[-1.19443447e-01  4.47799511e-02  5.48526168e-03  2.34080361e+00
  -1.61236043e+01  3.70870901e+00 -3.12108178e-03 -1.38639737e+00
   2.44178327e-01 -1.09896366e-02 -1.04592119e+00  8.11010693e-03
  -4.92792725e-01]]

In [30]:
y_predict=reg.predict(x_test)
y_predict

array([[24.88963777],
       [23.72141085],
       [29.36499868],
       [12.12238621],
       [21.44382254],
       [19.2834443 ],
       [20.49647539],
       [21.36099298],
       [18.8967118 ],
       [19.9280658 ],
       [ 5.12703513],
       [16.3867396 ],
       [17.07776485],
       [ 5.59375659],
       [39.99636726],
       [32.49654668],
       [22.45798809],
       [36.85192327],
       [30.86401089],
       [23.15140009],
       [24.77495789],
       [24.67187756],
       [20.59543752],
       [30.35369168],
       [22.41940736],
       [10.23266565],
       [17.64816865],
       [18.27419652],
       [35.53362541],
       [20.96084724],
       [18.30413012],
       [17.79262072],
       [19.96561663],
       [24.06127231],
       [29.10204874],
       [19.27774123],
       [11.15536648],
       [24.57560579],
       [17.5862644 ],
       [15.49454112],
       [26.20577527],
       [20.86304693],
       [22.31460516],
       [15.60710156],
       [23.00363104],
       [25.17247952],
       [20.11459464],
       [22.90256276],
       [10.0380507 ],
       [24.28515123],
       [20.94127711],
       [17.35258791],
       [24.52235405],
       [29.95143046],
       [13.42695877],
       [21.72673066],
       [20.7897053 ],
       [15.49668805],
       [13.98982601],
       [22.18377874],
       [17.73047814],
       [21.58869165],
       [32.90522136],
       [31.11235671],
       [17.73252635],
       [32.76358681],
       [18.7124637 ],
       [19.78693475],
       [19.02958927],
       [22.89825374],
       [22.96041622],
       [24.02555703],
       [30.72859326],
       [28.83142691],
       [25.89957059],
       [ 5.23251817],
       [36.72183202],
       [23.77267249],
       [27.26856352],
       [19.29492159],
       [28.62304496],
       [19.17978838],
       [18.97185995],
       [37.82397662],
       [39.22012647],
       [23.71261106],
       [24.93076217],
       [15.88545417],
       [26.09845751],
       [16.68819641],
       [15.83515991],
       [13.10775597],
       [24.71583588],
       [31.25165267],
       [22.16640989],
       [20.25087212],
       [ 0.59025319],
       [25.44217132],
       [15.57178328],
       [17.93719475],
       [25.30588844],
       [22.3732326 ]])

In [31]:
print(y_test)

        0
329  22.6
371  50.0
219  23.0
403   8.3
78   21.2
..    ...
56   24.7
455  14.1
60   18.7
213  28.1
108  19.8

[102 rows x 1 columns]

In [33]:
print(np.mean((y_predict - y_test)**2))

0    33.44898
dtype: float64

In [48]:
from sklearn import metrics
print ("MAE : ",metrics.mean_absolute_error(y_test,y_predict))
print ("MSE : ",metrics.mean_squared_error(y_test,y_predict))
print("r2 :", metrics.r2_score(y_test,y_predict))

MAE :  3.8429092204444952
MSE :  33.44897999767646
r2 : 0.5892223849182516

In [35]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test,y_predict))

33.44897999767646

In [43]:
from sklearn.metrics import r2_score
r2_score(y_test,y_predict)

0.5892223849182516